#include "resource.h"
#include <windows.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "installer.manifest"

IDD_UNINSTALL DIALOGEX 0, 0, 230, 80
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Uninstall WinZapp"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Are you sure you want to uninstall WinZapp?",
                    IDC_UNINSTALL_PROMPT, 7, 10, 216, 26
    DEFPUSHBUTTON   "Uninstall", IDC_INSTALL, 88, 58, 66, 14
    PUSHBUTTON      "Cancel",    IDC_CANCEL,  158, 58, 66, 14
END
